.App {
  text-align: center;
  background-color: darkblue;
  color: white;
  height: 100vh;
}

.App-logo {
  height: 5vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#header-title {
  margin-top: 0.75em;
}

#clock {
  background-color: #1e555c;
  height: 60vh;
  margin-top: 15vh;
  border-radius: 50px;
}

#main-title {
  color: white;
}

#timer-session {
  border-radius: 50px;
  border: 2px solid bisque;
  height: 30vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

#break .buttonUpDown, #session .buttonUpDown {
  background-color: #1e555c;
  border: none;
  outline: none;
  font-size: 2em;
}

#break p, #session p {
  margin-bottom: 0px;
  font-size: 1.5em;
}

#start_stop, #reset {
  outline: none;
  border: none;
  font-size: 1.25em;
  background-color: #1e555c;
}

#timer-label {
  font-size: 2em;
  margin-bottom: 0px;
}

#time-left {
  font-size: 3em;
}
